<p style="font-size: 0.6em;">
  <i class="fab fa-github"></i> Maintained by <a href="https://saswatpadhi.github.io">Saswat Padhi</a>
  @ <a href="https://github.com/SyGuS-Org">SyGuS-Org</a>.
  <br><br>
  <a href="https://github.com/fongandrew/hydeout">Hydeout</a> theme
  &copy; {{ site.time | date: '%Y' }} <a href="https://www.andrewfong.com/">Andrew Fong</a>,
  <a href="{{ site.baseurl }}/Hydeout.LICENSE.md">MIT License.</a>
  <br>
  Copyrights for papers and solvers are property of their respective owners.
</p>