<div style="font-size: 0.575em;">
  <p>
    <i class="fab fa-fw fa-github"></i> Website maintained by <a href="https://saswat.padhi.me">Saswat Padhi</a>
    @ <a href="https://github.com/SyGuS-Org">SyGuS-Org</a>.
  </p>
  <a href="https://github.com/fongandrew/hydeout">Hydeout</a> theme
  &copy; {{ site.time | date: '%Y' }} <a href="https://www.andrewfong.com/">Andrew Fong</a>,
  <a href="{{ site.baseurl }}/Hydeout.LICENSE.md">MIT License.</a>
  <br style="display: block; content: ' '; margin: 0.5em 0;">
  Copyrights for papers and solvers are property of their respective owners.
</div>