<div id="sidebar">
  <header>
    <{% if page.title == "Home" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ site.baseurl }}/">
        {% if page.url == "/" %}
          <img class='logo' src="/assets/img/logo.png" alt="{{ site.title }}"/>
        {% else %}
          <i class="back-arrow fas fa-fw fa-chevron-left"></i>
          {{ site.title }}
        {% endif %}
      </a>
    </{% if page.title == "Home" %}h1{% else %}div{% endif %}>
    <!-- <p class="lead">{{ site.description }}</p> -->
  </header>

  <nav id="sidebar-nav-links">
    {% include page-links.html %}
  </nav>

  <br>
  {% include copyright.html %}
</div>